
.container {
    background-image: url(https://www.egypttoday.com/siteimages/Larg/9014.jpg);
    margin: auto;
    
}
.Head-logo {
    background-image: url(https://www.egypttoday.com/siteimages/Larg/9014.jpg);
}
.head-links {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
}
.first1 {
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
    padding: 30px;
}
.button1 {
    text-align: center;
    border-color: aliceblue;
    border-color: black;
}
.button2 {
    text-align: center;
    padding: 10px;
}
#tell-us {
    text-align: center;
    color: white;
    padding: 10px;
}
.icon-1 {
    text-align: center;
    text-decoration: solid;
    padding: 10px;
}
.button-icon {
    text-align: center;
    text-decoration: solid;
    padding: 10px;
}
.icon-2 {
    text-align: center;
    text-decoration: solid;
    padding: 10px;
}
.icon-3 {
    text-align: center;
    text-decoration: solid;
    padding: 10px;
}
.third-h {
    text-align: center;
    color: white;
    padding: 10px;
}
.forth-h {
    color: white;
    text-align: center;
    padding: 15px;
}
.testimonial {
    color: white;
    text-align: center;
}
#client {
    color: white;
}
.question1 {
    color: white;
    text-align: center;
    text-decoration: none;
    flex: content;
}
.question2{
    color: white;
    text-transform: uppercase;
    flex: content;
    text-align: center;
}
.font-link {
    text-align: left;
    flex: left;
    color: aliceblue;
}
.visual {
    color: white;
}
p {
    color: aliceblue;
}
#first1 {
    background-color: blue;
    text-align: center;
}
.map {
    text-align: center;
}
.non {
    text-align: center;
    background-color: blue;
    color: black;
    padding: auto;
}
.pg2 {
    text-align: center;
    background-color: blue;
}
.pd1 {
    text-align: center;
    background-color: blue;
    padding: 3px;
}
.pd2 {
    text-decoration: solid;
    color: black;
    text-overflow: clip;
    padding: 10px;
}
.pd3 {
    text-align: center;
    color: white;
    background-color: blue;
    padding: 15px;
}
.service1 {
    text-align: right;
}
#sales1 {
    background-color: blue;
    color: black;
    padding: 10px;
}
.service2 {
    text-align: left;
}
#sales2 {
    background-color: blue;
    color: black;
    padding: 10px;
}
.service3 {
    text-align: right;
} 
#sales3 {
    background-color: blue;
    color: black;
    padding: 10px;
}
.service4 {
    text-align: left;
}
#sales4 {
    background-color: blue;
    color: black;
    padding: 10px;
}