
.container {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg);
    width: fit-content;
}
header {
    color: white;
}
.head-links {
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-justify: newspaper;
    text-decoration: solid;
    text-overflow: ellipsis;
    word-spacing: 100%;
}
.first1 {
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
    padding: 30px;
}
.button1 {
    text-align: center;
    border-color: aliceblue;
    border-color: black;
}
.button2 {
    text-align: center;
    padding: 10px;
}
#tell-us {
    text-align: center;
    color: white;
    padding: 10px;
}
.icon-1 {
    text-align: center;
    text-decoration: solid;
    padding: 10px;
}
.button-icon {
    text-align: center;
    text-decoration: solid;
    padding: 10px;
}
.icon-2 {
    text-align: center;
    text-decoration: solid;
    padding: 10px;
}
.icon-3 {
    text-align: center;
    text-decoration: solid;
    padding: 10px;
}
.third-h {
    text-align: center;
    color: white;
    padding: 10px;
}
.forth-h {
    color: white;
    text-align: center;
    padding: 15px;
}
.testimonial {
    color: white;
    text-align: center;
}
#client {
    color: white;
}
.question1 {
    color: white;
    text-align: center;
    text-decoration: none;
    flex: content;
}
.question2{
    color: white;
    text-transform: uppercase;
    flex: content;
    text-align: center;
}
.font-link {
    text-align: left;
    flex: left;
    color: aliceblue;
}
.visual {
    color: white;
}
p {
    color: aliceblue;
}